<!DOCTYPE html>  
<html lang="pt-br">  
<head>  
    <meta charset="UTF-8">  
    <title>Cardapio - Pizza</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Nome da  Pizza</th>
        <th>Ações</th>
    </tr>  
    </thead>  
    <tbody>  
{% for pizza in pizzas %}  
    <tr>  
        <td>{{ pizza.nome }}</td>    
        <td>  
            <a href="/cardapio/pizza/edit/{{ pizza.id }}" class="bi bi-pencil"></a>  
            <a href="/cardapio/pizza/delete/{{ pizza.id }}"class="bi bi-trash3"></a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<a href="/cardapio/pizza/insert" class="btn btn-primary"><i class="bi bi-plus-circle"> Inserir</i></a>  
</body>  
</html>  